doctype html
html
	head
		meta(charset="utf-8")
		title foodme-backend
	body
		h1 foodme backend documentation
		h2 create user
		p=('/newuser?authId=DATA&username=DATA')
		p returns an object with newly created user
		h2 create ingredient
		p=('/newingredient?apiId=DATA&name=DATA')
		p returns an object with newly created ingredient
		h2 create recipe
		p=('/newrecipe?apiId=DATA&name=DATA&url=DATA')
		p returns an object with newly created recipe
		h2 create fridge
		p=('/newfridge?id=USER_ID')
		p returns an object with newly created fridge