doctype html
html
	head
		meta(charset="utf-8")
		title foodme-backend
	body
		h1 foodme backend documentation

		h2=('/get-fridge/:clientId')
		p Find the user's fridge and return the fridgeId
		p If no user's fridge: create it and return the fridgeId as JSON

		h2=('/display-fridge/:fridgeId')
		p Display all the content of the user's fridge as JSON
		p As an array of object

		h2=('/insert-into-fridge')
		p Takes an object with:
		p object.fridgeId = the user's fridge ID
		p object.ingredientId = the ingredient inputed ID
		p object.name = the ingredient inputed name